body {
	margin:0;
	background: #d6e39c;
}

img {
	display: block;
	width:100%;
	height: auto;
	margin: 0;
}

main {
	margin: 2vw;
}

article {
	padding: 2vw;
	background: white;
	border: 1px solid grey;
}
